services:
  multi-scrobbler:
    image: foxxmd/multi-scrobbler
    container_name: multi-scrobbler
    user: "1000:1000"
    environment:
      - TZ=Europe/Paris
      - PUID=1000
      - PGID=1000

      # -- MALOJA CONFIGURATION --
      # Corrected URL to use the internal Docker network for reliable communication, seems to have fixed issues.
      - MALOJA_URL=http://maloja:42010
      - MALOJA_API_KEY=${MALOJA_API_KEY}

      # -- SUBSONIC CONFIGURATION --
      - SUBSONIC_USER=${SUBSONIC_USER}
      - SUBSONIC_PASSWORD=${SUBSONIC_PASSWORD}
      - SUBSONIC_URL=${SUBSONIC_URL}
      - SUBSONIC_ENABLED=true # Enabled the Subsonic source explicitly

      # -- JELLYFIN CONFIGURATION --
      - JELLYFIN_URL=${JELLYFIN_URL}
      - JELLYFIN_USER=${JELLYFIN_USER}
      - JELLYFIN_APIKEY=${JELLYFIN_APIKEY}
      - JELLYFIN_PASSWORD=${JELLYFIN_PASSWORD}
      - JELLYFIN_ENABLED=true # Enabled the Jellyfin source explicitly

      # -- MPD CONFIGURATION --
      - MPD_ENABLED=true
      - MPD_NAME=MPD
      - MPD_URL=host.docker.internal:6600
      - MPD_POLL_INTERVAL=5
      # Added the password here to resolve the authentication error
      - MPD_PASSWORD=${MPD_PASS}

      - DEBUG=mpd*

    volumes:
      - "./config:/config"
    ports:
      - "9078:9078"
    restart: unless-stopped
    depends_on:
      - maloja

  maloja:
    # from dockerhub
    image: "krateng/maloja:latest"
    ports:
      - "42010:42010"
    
    volumes:
      - "/media/4TStorage/Programs/Maloja/config:/etc/maloja"
      - "/media/4TStorage/Programs/Maloja/data:/var/lib/maloja"
      - "/media/4TStorage/Programs/Maloja/logs:/var/log/maloja"
    restart: unless-stopped
